.Header{
    background-color: black;
    justify-content: space-between;
    overflow: hidden;
}

.Logo{
    padding: 20px 20px;
}
.LoginLogo{
    float: right;
    margin: -40px -300px
}

.JoinLogin{
    font-size: 20px;
    position: relative;
    top: 23%;
    left: -20%;
    padding: 15px;
}
.JoinLogin a{
    color: black;
    text-transform: uppercase;
}