.Body {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 150px;
    overflow: hidden;
  }
  
.MainLogo {
    height: 8vmax;
}
.Bar {
   width: 500px;
}

.Reveal{
    color: #c23e26;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.InteractiveButton{
    max-width: 80%;
    height: auto;
}

.TeaserButton{
    padding-bottom: 200px;
}

.Social{
    max-width: 90px;
}

.Buttons{
    padding: 10px;
    transition: all .2s ease-in-out;
}
.Buttons:hover{
    transform: scale(1.1)
}


.SocialButtonContainer{
    padding: 50px;
}

.ButtonText{
    height: auto;
    width: 300px;
    font-size: 22pt;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}