.body {
	text-align: center;
	background-color: black;
	color: white;
	padding-top: 150px;
	overflow: hidden;
	}
	
.main-logo-wrapper {
	padding-bottom: 150px;
}

.main-logo {
	max-width: 90%;
}

.bar {
	max-width: 60%;
	height: auto;
}

.reveal{
	color: #c23e26;
	font-size: 20px;
	letter-spacing: 5px;
	margin-bottom: 20px;
}

.teaser-button{
	padding-bottom: 200px;
}

.social{
	max-width: 90px;
}

.buttons{
	padding: 10px;
	transition: all .2s ease-in-out;
}
.buttons:hover{
	transform: scale(1.1)
}


.social-button-wrapper{
	padding: 50px;
}

.button-text{
	height: auto;
	width: 350px;
	font-size: 22pt;
	font-weight: bold;
	color: black;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}