.Countdown{
    margin: 10px auto;
    padding-bottom: 0px;
}
  .DoubleColon{
    font-size: 80px;
    font-weight: bold;
  }

  .Countdown-col-element{
    display: inherit;
    margin: 0 5px;
  }

  .Numbers{
      font-size: 80px;
  }

  @media (max-width:991px){
    .DoubleColon{
        display:none;
    }
    .Numbers{
      font-size: 40px;
    }
}