.legal-container{
	justify-content: center;
}

.legal-image:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	}
.legal-image{
	padding: 3px 5px;
}

.legal-image img{
	max-width: 80%;
}

.legal-text{
	text-align: center;
	font-size: .65em;
	color: #909090;
}

.bottom-nav{
	color: #909090;
	font-size: 10pt;
	letter-spacing: 2px;
	max-width: 160px;
}

.bottom-nav a{
	color: #909090;
}

.link-list{
	padding: 20px;
}

@media (max-width:991px){
	.colon{
		display:none;
	}
}