.header{
	height: 85px;
	background-color: black;
}

.join-login-wrapper{
	justify-content: flex-end;
	color: black !important;
}

.join-login-background{
	position: relative;
	top: -0.5px;
	right: -80px;
	z-index: -1;
}

.join-login-text{
	position: relative;
	padding: 30px !important;
	right: -400px;
	height: 75px;
	width: 115px;
	color: black !important;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0) !important;
	border: 0 !important;
	outline: none !important;
	box-shadow: none !important;
	transition: all .2s ease-in-out;
}
.join-login-text:hover{
	transform: scale(1.1)
}
@media (max-width:991px){
	.join-login-background{
		display:none;
	}
	.join-login-text{
		transition: all 0s;
		right: 0px;
		width: 100%;
		background-color: white !important;

	}
	.join-login-text:hover{
		transform: scale(1.03)
	}
	.brand-logo{
		width: 200px;
	}
}