.header{
	height: 86px;
	background-color: black;
}

.join-login-wrapper{
	justify-content: flex-end;
	color: black !important;
}

.join-login-background{
	position: relative;
	top: -5px;
	right: -80px;
	z-index: -1;
}

.join-login-text{
	position: relative;
	padding: 30px !important;
	right: -400px;
	height: 80px;
	width: 115px;
	color: black !important;
	text-transform: uppercase;
	background-color: white !important;
	border: 0 !important;
	outline: none !important;
	box-shadow: none !important;
}

@media (max-width:991px){
	.join-login-background{
		display:none;
	}
	.join-login-text{
		right: 0px;
		width: 100%;
	}
	.brand-logo{
		width: 200px;
	}
}